MONGODB_URI=
N8N_WEBHOOK_URL=
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=
NEXT_PUBLIC_APP_URL=
JWT_SECRET=
JWT_EXPIRES_IN=
NEXTAUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
N8N_SECRET_TOKEN=RANDOM
